In [1]:
import numpy as np
import datetime
import pandas as pd

In [2]:
np.random.seed(42)

In [3]:
num_rows = 1440

In [4]:
start_date = datetime.datetime(2024, 3, 1)
end_date = datetime.datetime(2024, 3, 2)

In [5]:
temperature_mean = 80
temperature_stddev = 10
pressure_mean = 300
pressure_stddev = 50
wind_speed_mean = 10
wind_speed_stddev = 5
rpm_mean = 1500
rpm_stddev = 250
energy_output_mean = 50
energy_output_stddev = 10

In [21]:
timestamps = np.arange(start_date, end_date, dtype='datetime64[m]')
temperature = np.random.normal(temperature_mean, temperature_stddev, num_rows)
pressure = np.random.normal(pressure_mean, pressure_stddev, num_rows)
wind_speed = np.random.normal(wind_speed_mean, wind_speed_stddev, num_rows)
rpm = np.random.normal(rpm_mean, rpm_stddev, num_rows)
# Create a linear relationship between wind speed and energy output with a coefficient of 0.3
energy_output = energy_output_mean + 0.3 * (wind_speed - wind_speed_mean) + np.random.normal(0, 1, num_rows)

In [22]:
data = pd.DataFrame({'timestamps': timestamps, 'temperature': temperature, 'pressure': pressure,
                    'wind_speed': wind_speed, 'rpm': rpm, 'energy_output': energy_output})

In [23]:
data

,timestamps,temperature,pressure,wind_speed,rpm,energy_output
0,2024-03-01 00:00:00,83.461469,320.237375,8.521672,1607.632403,49.878046
1,2024-03-01 00:01:00,72.234567,258.605357,11.917836,1410.412267,51.908918
2,2024-03-01 00:02:00,87.463949,291.408748,15.198162,1467.465233,50.807555
3,2024-03-01 00:03:00,82.653281,277.048837,4.817437,1397.236048,50.723340
4,2024-03-01 00:04:00,76.596048,321.767906,15.054548,1680.040858,52.073233
...,...,...,...,...,...,...
1435,2024-03-01 23:55:00,94.306244,385.999227,13.298874,1712.558263,50.973704
1436,2024-03-01 23:56:00,77.634534,370.180983,15.633618,1501.985131,52.496563
1437,2024-03-01 23:57:00,81.557173,291.791419,2.566408,1505.374226,45.666873
1438,2024-03-01 23:58:00,89.843625,255.135341,9.094246,1134.341274,48.454785
1439,2024-03-01 23:59:00,66.705064,278.711506,4.677410,1482.228467,48.068135

In [24]:
data.to_csv('wind_turbine1.csv', index=False)